<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px" />

# Python Ladder Challenge - Notebook 3

_Author:_ Tim Book

# Climb the Ladder!
Our class moves quickly! Sometimes, it feels like we make leaps in logic that are a bit too big. Learn Python _slowly_, by doing many, many examples. Problems in this notebook start out easy and progressively get harder, so that the next rung of the Python ladder is always within reach.

# Section VII: Functions
In this section, every question gives example(s). You can (but don't need to) name your function accordingly. You _should_ test out the example to make sure your function works properly. If the example doesn't work, your answer is likely incorrect.

72) Write a function to compute the area of a triangle. You only need the base and height of a triangle to compute its area.

* _Example:_ `area_triangle(5, 4) == 10.0`

In [1]:
def area_triangle(base,height):
    return 0.5 * base * height

area_triangle(5,4)

10.0

73) Import `pi` from `math` and write a function to compute the area of a circle. You only need the radius of a circle to compute its area.

* _Example:_ `area_circle(10) == 314.159...`

In [5]:
import math 

def area_circle(radius):
    return math.pi * (radius ** 2)

area_circle(10)

314.1592653589793

74) Write a function that takes in a number `max_num` and returns the sum of the numbers 1 through `max_num` (inclusive).
* _Example:_ `sum_n(5) == 1 + 2 + 3 + 4 + 5 == 15`

In [26]:
def sum_n(max_num):
    sum = 0
    for i in range(1, max_num + 1):
        sum += i
    return sum

sum_n(5)

15

75) Write a function that takes in a number `max_num` and returns the sum of the square of the numbers 1 through `max_num` (inclusive).
* `sum_squares(5) == 1 + 4 + 9 + 16 + 25 == 55`

In [33]:
def sum_square(max_num):
    sum = 0
    for i in range(1, max_num + 1):
        sum += (i * i)
    return sum 
sum_square(5)

55

76) Write a function that takes a number (an amount in euros) and convert it to U.S. dollars. There are 1.1 U.S. dollars per euro.
* `to_dollar(10) == 11.0`

In [6]:
def to_dollar(x):
    return x * 1.1

to_dollar(10)

11.0

76) Write a function that takes a list of numbers (amounts in euros), and returns them converted to dollars. Use your answer to the previous question in your answer to this question.
* _Example:_ `to_dollar_list([1, 10, 100]) == [1.1, 11.0, 110.0]`
* _Note:_ You may get some decimal weirdness here.

In [22]:
def to_dollar_list(list):
    new_list = []
    for i in list:
        new_list.append(i*1.1)
    return new_list

In [23]:
to_dollar_list([1,10,100])

[1.1, 11.0, 110.00000000000001]

In [24]:
def to_dollar(euro):
    return [i*1.1 for i in euro]

In [26]:
x = to_dollar([3,4,5])
x

[3.3000000000000003, 4.4, 5.5]

77) Write a function that takes a number (a person's height) and returns "Tall enough" if they are at least 5 feet (60 inches) or "Too short" if they are below 5 feet.
* _Example:_ `is_tall(72) == 'Tall enough'`
* _Example:_ `is_tall(52) == 'Too short'`

In [14]:
def is_tall(h):
    if h >= 60:
        return 'Tall enough'
    else:
        return 'Too short'
    

is_tall(60)

'Tall enough'

In [15]:
is_tall(59)

'Too short'

78) Write a function that takes a list of numbers (peoples' heights) and returns a list of strings "Tall enough" or "Too short" as in the previous problem. Use your answer to the previous problem to help answer this problem.
* _Example:_ `is_tall_list([58, 70, 60]) == ['Too short', 'Tall enough', 'Tall enough']`

In [34]:
def is_tall_list(h):
    h_list = []
    for x in h:
        if x >= 60:
            h_list.append('Tall enough')
        else :
            h_list.append('Too short')
    return h_list

In [35]:
is_tall_list([58, 70, 60])

['Too short', 'Tall enough', 'Tall enough']

79) Write a function that takes in a numeric grade (0 to 100) and returns the letter grade (no pluses or minuses). In a traditional rubric, that would be as follows:

* 90 or above = A
* 80 - 89 = B
* 70 - 79 = C
* 60 - 69 = D
* 59 or below = F
    
    
* _Example:_ `letter_grade(85) == 'B'`

In [81]:
def letter_grade(n):
    if  n >= 90:
        return 'A'
    elif n >= 80:
        return 'B'
    elif n >= 70:
        return 'C'
    elif n >= 60:
        return 'D'
    elif n < 60:
        return 'F'
    
letter_grade(90)

'A'

In [82]:
letter_grade(59)

'F'

80) Write _another_ function that takes a list of numeric grades and returns their letter grades. Use the function written above in your answer.

* _Example:_ `letter_grades([85, 62, 90]) == ['B', 'D', 'A']`

In [42]:
def letter_grades(score):
    g_list = []
    for g in score:
        if g >= 90: 
            g_list.append('A')  
        elif g >= 80: 
            g_list.append('B')
        elif g >= 70: 
            g_list.append('C')
        elif g >= 60: 
            g_list.append('D')
        elif g < 60:
            g_list.append('F')
    return g_list

letter_grades([85 ,62, 90])

['B', 'D', 'A']

81) Write a function that takes in a string and returns the number of vowels in that string. (No, y is not a vowel).
* _Example:_ `vowel_count('General Assembly') == 5`

In [53]:
def check(string):

    vowels = 'aeiouAEIOU'
    count = 0

    for character in string:
        if character in vowels:
            count += 1   
    return count

check('General Assembly')

5

82) Write a function that takes in a string and returns that string with its consonants capitalized and vowels lowercased.

* _Example:_ `toggle_case('General Assembly') == 'GeNeRaL aSSeMBLY'`

In [43]:
def toggle_case(word):
    vowels = "aeiouAEIOU"
    my_sentence = " "
    for c in word:
        if c not in vowels:
            my_sentence += c.upper()
        else:
            my_sentence += c.lower()
    return my_sentence

toggle_case('General Assembly')

' GeNeRaL aSSeMBLY'

83) Write a function that takes in a string and returns that string with its vowels removed.
* _Example:_ `disemvowel('Python is my favorite language') == 'Pythn s my fvrt lngg'`

In [60]:
def disemvowel(string):
    vowels = "aeiouAEIOU"
    mylist = list(string)
    for c in string:
        if c in vowels:
            mylist.remove(c)
    string = ''.join(mylist)
    return string

disemvowel('Python is my favorite language')

'Pythn s my fvrt lngg'

84) Write a function that takes in a string and returns that string with its vowels removed _unless it's a one-letter word_, in which case leave the vowel intact. You should use your answer in the previous problem to answer this.
* _Example:_ `smart_disemvowel('I love Python programming') == 'I lv Pythn prgrmmng'`

In [62]:
def smart_disemvowel(string):
    vowels = "aeiou"
    mylist = list(string)
    for c in string:
        if c in vowels:
            mylist.remove(c)
    string = ''.join(mylist)
    return string

smart_disemvowel('I love Python programming')

'I lv Pythn prgrmmng'

85) Write a function that takes in a string (likely multiple words long) and returns that string with the order of the words reversed.
* _Example:_ `word_reverser('Data science is cool') == 'cool is science Data'`

In [76]:
def word_reverser(string):
 
    words = string.split(' ')
    reverse_string = ' '.join(reversed(words))
    
    return reverse_string

word_reverser('Data science is cool')

'cool is science Data'

86) Write a function that takes in a string (likely multiple words long) and returns that string with each word reversed, but with the words in the same order.
* _Example:_ `letter_reverser('Data science is cool') == 'ataD ecneics si looc'`

In [104]:
def letter_reverser(string):
 
    words = string.split(" ")
    reverse = [w[::-1] for w in words]
    new_string = " ".join(reverse)
 
    return new_string

letter_reverser('Data science is cool')

'ataD ecneics si looc'

87) Write a function that converts a string to "leet speak". Leet speak is a made-up internet language which you replace characters with symbols that look like those characters. For example:

* _Example:_ `to_leet_speak('i am elite') == '! @M 31!73'`
* _Hint:_ Recall what `.get()` does when called on a dictionary? Will this help you with spaces or other non-letter characters?

_Note:_ This problem is borrowed from [this](https://www.codewars.com/kata/toleetspeak) wonderful Codewars challenge!

Below is the English-to-leet dictionary:

In [53]:
LEET_DICT = {'A' : '@', 'B' : '8', 'C' : '(', 'D' : 'D', 'E' : '3',
             'F' : 'F', 'G' : '6', 'H' : '#', 'I' : '!', 'J' : 'J',
             'K' : 'K', 'L' : '1', 'M' : 'M', 'N' : 'N', 'O' : '0',
             'P' : 'P', 'Q' : 'Q', 'R' : 'R', 'S' : '$', 'T' : '7',
             'U' : 'U', 'V' : 'V', 'W' : 'W', 'X' : 'X', 'Y' : 'Y',
             'Z' : '2'}

In [58]:
def to_leet_speak(char):
    char_up = char.upper()
    tran_sl = ''
    for a in char_up:
        if LEET_DICT.get(a) == None:
            tran_sl += ' '
        else:
            tran_sl += LEET_DICT.get(a) 
    return tran_sl

In [59]:
to_leet_speak('i am elite')

'! @M 31!73'

87) Write an `is_prime` function that takes in a number and returns a boolean of whether or not that number was prime. (_Hint:_ You already did this in a previous section.)

* _Example:_ `is_prime(5) == True`
* _Example:_ `is_prime(6) == False`

In [4]:
def is_prime(n):
    for i in range(2,n):
        if n % i == 0:
            return False
    return True

In [5]:
is_prime(5)

True

In [6]:
is_prime(6)

False

88) Write a function that takes in a number and returns the sum of all primes less than or equal to that number. You'll need your answer to the previous problem to answer this.
* _Example:_ `sum_primes(11) == 2 + 3 + 5 + 7 + 11 == 28`
* _Bonus:_ Can you do this in one line with a list comprehension?

In [15]:
def sum_primes(n):
    s_p = 0
    for i in range (2,n+1):
        if is_prime(i):
            s_p += i
    return s_p

In [16]:
sum_primes(11)

28

# Section VIII: What's next?

## Section VIIIa: Virtual Practice

Now that we've got a handle on the basics (and a few problems much more difficult than "basic"), what do we do next? If you'd like some more difficult challenges, sign up for [Codewars](https://www.codewars.com)! Codewars is a website in which you are repeatedly given coding challenges that get progressively more difficult. You earn XP and level up, giving you harder and harder problems. Below is an ever-updating list of coding challenges that we recommend. Some of them are Codewars challenges, some from other resources:

* [Run-length Encoding](https://www.codewars.com/kata/run-length-encoding-1) (Codewars)
* [Permutations](https://leetcode.com/problems/permutations/) (Leetcode)
* ["1-Dimensional Candy Crush"](https://leetcode.com/discuss/interview-question/380650/bloomberg-phone-screen-candy-crush-1d) (Leetcode)

## Section VIIIb: Real Interview Challenges
Below are interesting challenges stolen directly from real interviews! These challenges have been reported from both GA students and GA instructors. If you find a good one in your future interviews, please come back and tell us! This section of the ladder is ever-updating.

### File Permissions
In UNIX-like systems (eg, Mac and Linux), the permissions on certain files are given by short 9-character codes. These characters represent the read (**r**), write (**w**), and execute (**x**) permissions of the owner, assigned group, and all users, respectively. For example, the code

`rwx------`

means the file owner has all 3 kinds of permissions, but no one else can do anything. Another common code is 

`rwxr-xr-x`

which means that everyone can read and execute the file, but only the owner has permission to write to it (that is, to change it). You can see these permissions yourself by typing `ls -l` from your command line!

In order to further save space, these codes are often saved as a 3-digit number, where each digit corresponds to the sum of the values of `r`, `w`, and `x`. `r` is worth 4, `w` is worth 2, `x` is worth 1, and `-` is worth 0. For example, `rwx------` is shortened to the code `700`, and `rwxr-xr-x` is `755`.

Your challenge is to write a function that shortens the "permission string" to its corresponding "permission code" (properly known as its "octal notation"). Please note that the output of your function should be an integer, not a string! You can assume the "permission string" is always valid.

* _Example:_ `permissions_to_octa("rwxr-xr-x") = 755`

In [112]:
def permissions_to_octal(permission):
    """Returns the 3-digit octal code given permissions string `p`, e.g. 'rwxr-xr-x' is 755."""

### Grocery Bags
A large grocery bag can hold 5 items, while a small grocery bag can hold only 1. The numbers of each size bag available may be limited. All items must be placed in a bag and each bag must be filled completely. For example, if we have 16 items, 2 large bags, and 10 small bags, 8 total bags are needed. 2 large bags + 6 small bags = 16 items in 8 bags.

Write a function to calculate the **minimum** number of bags needed. If it's not possible to meet these conditions, return `-1`.

* `min_bags(16, 2, 10) = 8`
* `min_bags(20, 2, 2) = -1`

In [28]:
def min_bags(num_items, avail_large, avail_small):
        
        bag_count = 0
        max_items = (avail_large * 5)  + (avail_small * 1)
        
        if num_items > (avail_large * 5) + (avail_small * 1):
            return -1

        elif num_items > (avail_large * 5):
           
            bag_count += avail_large
            i_remain = num_items - (avail_large * 5)
            
            if i_remain > 0:
                bag_count += i_remain
                
            return(bag_count)

In [26]:
min_bags(16, 2, 10)

8

In [27]:
min_bags(20, 2, 2)

-1